[submodule "tools"]
	path = tools
	url = git@github.com:MrMoose/moose_tools.git
[submodule "monty"]
	path = monty
	url = git@github.com:MrMoose/moose_monty_hall.git
[submodule "mredis"]
	path = mredis
	url = git@github.com:MrMoose/mredis.git
[submodule "rescue"]
	path = rescue
	url = git@github.com:MrMoose/rescue.git
